# Seja ensinável e execute as tarefas compartilhadas. Por fins didáticos e para melhor separação mental das sintaxes Python/R, realizaremos todos os exercícios de Python em R.
![alt text](https://media.tenor.com/images/51e469036910eb2ece677863200af5a8/tenor.gif)

Crie um algoritmo em R que peça uma nota, entre 0 e 100. Mostre uma mensagem caso o valor seja inválido e continue pedindo até que o usuário informe um valor válido.

In [0]:
num = as.integer(readline("Informe um número inteiro de 0 a 100: "));
while (num < 0 | num > 100) {
    print("Informe um valor válido!");
    num = as.integer(readline("Informe um número inteiro de 0 a 100: "));
};

Informe um número inteiro de 0 a 100: -1
Informe um número inteiro de 0 a 100: 5
[1] "Informe um valor válido!"

Crie um algoritmo em R que leia um nome de usuário e a sua senha e não aceite a senha igual ao nome do usuário, mostrando uma mensagem de erro e voltando a pedir as informações.<br>

In [0]:
usuario = readline("Informe o nome do usuário: ");
senha = readline("Informe a senha: ");
while(usuario == senha) {
    print("A senha não pode ser igual ao usuário. Tente Novamente.")

    usuario = readline(prompt = "Informe o nome do usuário: ");
    senha = readline(prompt = "Informe a senha: ");
}

Informe o nome do usuário: 1
Informe a senha: 1
Informe o nome do usuário: 1
Informe a senha: 1
Informe o nome do usuário: 1
Informe a senha: 1
Informe o nome do usuário: 2
Informe a senha: 1
[1] "A senha não pode ser igual ao usuário. Tente Novamente."
[1] "A senha não pode ser igual ao usuário. Tente Novamente."
[1] "A senha não pode ser igual ao usuário. Tente Novamente."

Crie um algoritmo em R que leia e valide as seguintes informações:
* Nome: maior que 3 caracteres;
* Idade: entre 0 e 150;
* Salário: maior que zero;
* Sexo: 'f' ou 'm';
* Estado Civil: 's', 'c', 'v', 'd';

In [0]:
install.packages("tidyverse")
library(tidyverse)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.0     ✔ purrr   0.3.4
✔ tibble  3.0.1     ✔ dplyr   0.8.5
✔ tidyr   1.0.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [0]:
nome = readline("Informe seu nome: "); 
idade = as.integer(readline("Informe sua idade: ")); 
salario = as.double(readline("Informe seu salário: R$ ")); 
sexo = readline("Informe seu sexo [f ou m]")
est_civil = readline("Informe seu estado civil [s, c, v ou d]: ");

while(str_length(nome) <= 3) { 
    nome = readline("Informe seu nome: "); 
} 
while(idade < 0 | idade > 150) { 
    idade = readline("Informe sua idade: "); 
} while(salario < 0) { 
    salario = readline("Informe seu salário: R$ "); 
}
#while(sexo != 'f' | sexo != 'm') {
#    est_civil = readline("Informe seu estado civil [s, c, v ou d]: ");
#}
#while(est_civil != 's' | est_civil != 'c' | est_civil != 'v' | est_civil != 'd') {
#    est_civil = readline("Informe seu estado civil [s, c, v ou d]: ");
#}

Supondo que a população de um país A seja da ordem de 80000 habitantes com uma taxa anual de crescimento de 3% e que a população de B seja 200000 habitantes com uma taxa de crescimento de 1.5%.<br><br> Crie um algoritmo em R que calcule e escreva o número de anos necessários para que a população do país A ultrapasse ou iguale a população do país B, mantidas as taxas de crescimento.

Resolução:

    Adotando crescimento exponencial, ano inicial = 0, população inicial = P0 e taxa anual de crescimento = i
    P(t) = P0 * (1 + i) ^ t
    A = 80000 * (1 + 0.030) ^ t
    B = 200000 * (1 + 0.015) ^ t

Igualando as populações das cidades A e B e isolando a variável t:

    80000 * (1 + 0.030) ^ t = 200000 * (1 + 0.015) ^ t
    (1 + 0.030) ^ t / (1 + 0.015) ^ t = 200000 / 80000
    (1.030/1.015) ^ t - 2.5 = 0

In [0]:
tempo <- function(t) (1.030/1.015) ^ t - 2.5
raiz = uniroot(tempo, c(0,100))
raiz

$root
[1] 62.45937

$f.root
[1] 4.096896e-08

$iter
[1] 6

$init.it
[1] NA

$estim.prec
[1] 6.103516e-05

Desenvolva um gerador de tabuada, capaz de gerar a tabuada de qualquer número inteiro entre 1 a 10. O usuário deve informar de qual numero ele deseja ver a tabuada. A saída deve ser conforme o exemplo abaixo:
Tabuada de 5:<br>
5 X 1 = 5<br>
5 X 2 = 10<br>
...<br>
5 X 10 = 50<br>

In [0]:
tabuada <- function(fator) {
  produto <- vector(mode = "list", length = 10);
  for (i in 1:10) 
    produto[i] = i * fator
  
  return(produto)
}

fator <- as.integer(readline("Informe um número que queira saber a tabuada [1 a 10]: "));
tabuada(fator)

Informe um número que queira saber a tabuada [1 a 10]: 5

[[1]]
[1] 5

[[2]]
[1] 10

[[3]]
[1] 15

[[4]]
[1] 20

[[5]]
[1] 25

[[6]]
[1] 30

[[7]]
[1] 35

[[8]]
[1] 40

[[9]]
[1] 45

[[10]]
[1] 50

Crie um algoritmo em R que leia três números e mostre o maior e o menor deles.

In [0]:
num1 <- as.double(readline("Informe um número: "));
num2 <- as.double(readline("Informe outro número: "));
num3 <- as.double(readline("Informe mais um número: "));

lista <- c(num1, num2, num3)

maior <- max(lista)
menor <- min(lista)

sprintf("O menor número é %.2f e o maior número é %.2f", menor, maior)

Informe um número: 7
Informe outro número: 8
Informe mais um número: 9.517

[1] "O menor número é 7.00 e o maior número é 9.52"

Crie um algoritmo em R que peça 2 números, base e expoente, calcule e mostre o primeiro número elevado ao segundo número. Não utilize a função de potência da linguagem.

In [0]:
base <- as.integer(readline("Informe a base da potência (número natural): "));
expoente <- as.integer(readline("Informe o expoente da potência (número natural): "));

potencia <- 1;
i = 0;

while (i < expoente) {
    potencia = potencia * base;
    i = i + 1;
}

potencia

Informe a base da potência (número natural): 0
Informe o expoente da potência (número natural): 1

[1] 0

Crie um algoritmo em R que peça 10 números inteiros, calcule e mostre a quantidade de números pares e a quantidade de números impares.

In [0]:
lista <- vector(length = 10);

for (i in 1:10) {
    lista[i] <- as.integer(readline("Informe um número: "));
}

pares = lista[lista %% 2 == 0];
impares = lista[lista %% 2 != 0];

print(pares);
print(impares);

Informe um número: 1
Informe um número: 2
Informe um número: 3
Informe um número: 4
Informe um número: 5
Informe um número: 6
Informe um número: 7
Informe um número: 8
Informe um número: 9
Informe um número: 10
[1]  2  4  6  8 10
[1] 1 3 5 7 9

Um funcionário de uma empresa recebe aumento salarial anualmente: Sabe-se que: Esse funcionário foi contratado em 1995, com salário inicial de R$ 1.000,00; Em 1996 recebeu aumento de 1,5% sobre seu salário inicial; A partir de 1997 (inclusive), os aumentos salariais sempre correspondem ao dobro do percentual do ano anterior. Crie um algoritmo em R que determine o salário atual desse funcionário. Após concluir isto, altere o programa permitindo que o usuário digite o salário inicial do funcionário

Resolução:
    inicio = 1995 => R$ 1000,00

    ano_seguinte = 1996 => (1 + 0.015*1) * 1000 = R$ 1015

    ano_seguinte = 1997 => (1 + 0.015*2) * 1000 = R$ 1030

    ...

    salario_atual = salario_inicial * (1 + 0.015 * 2 ** (tempo-1))

In [0]:
ano_inicial = as.integer(readline("Em qual ano que você começou a trabalhar? "))
salario_inicial = as.double(readline("Qual era o seu salário inicial? R$ "))
ano_atual = as.integer(readline("Qual é o ano atual? "))

tempo = ano_atual - ano_inicial

salario_atual = salario_inicial * (1 + 0.015 * 2 ^ (tempo-1))

sprintf("Em %d você estava ganhando/ganhava R$ %.2f", ano_atual, salario_atual)

Em qual ano que você começou a trabalhar? 1995
Qual era o seu salário inicial? R$ 1000
Qual é o ano atual? 1997

[1] "Em 1997 você estava ganhando/ganhava R$ 1030.00"

Crie um algoritmo em R com uma função que necessite de um argumento. A função retorna o valor de caractere ‘P’, se seu argumento for positivo, e ‘N’, se seu argumento for zero ou negativo.

In [0]:
numero = as.integer(readline("Informe um número inteiro: "));

ifelse(numero > 0, print('P'), print('N'))

Informe um número inteiro: 0
[1] "N"

[1] "N"

Construa uma função que receba uma data no formato DD/MM/AAAA e devolva uma string no formato D de mesPorExtenso de AAAA. Opcionalmente, valide a data e retorne NULL caso a data seja inválida.

In [1]:
library(tidyverse)
data <- readline("Informe uma data no formato [DD/MM/AAAA]: ")

data_separada <- str_split_fixed(data, "/", n=3)
dia <- as.integer(data_separada[1])
mes <- as.integer(data_separada[2])
ano <- as.integer(data_separada[3])

meses <- c("janeiro", "fevereiro", "março", "abril", "maio", "junho", 
          "julho", "agosto", "setembro", "outubro", "novembro", "dezembro")
for (i in 1:12) {
  if (mes == i) {
    nome_mes = meses[i]
  }
}

sprintf("%d de %s de %d", dia, nome_mes, ano)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.0     ✔ purrr   0.3.4
✔ tibble  3.0.1     ✔ dplyr   0.8.5
✔ tidyr   1.0.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Informe uma data no formato [DD/MM/AAAA]: 25/10/1982

[1] "25 de outubro de 1982"